rules_version = '2';
service cloud.firestore {
match /databases/{database}/documents {

    function isSignedIn() {
        return request.auth.uid != null && request.auth.token.firebase.sign_in_provider != 'anonymous';
    }

    function matchingUUID(userId) {
        return request.auth.uid == userId; 
    }

    function isDomainUser() {
        return request["auth"]["token"]["email"].matches(".*@zwaag.net")||
        request["auth"]["token"]["email"].matches(".*@postmeridiem.net")||
        request["auth"]["token"]["email"].matches("dehlak@gmail.com")||
        request["auth"]["token"]["email"].matches(".*@imagin.studio")||
        request["auth"]["token"]["email"].matches(".*@churned.nl")
		}

    match /users/{userId}{
        allow read,  write, create: if isSignedIn() && matchingUUID(userId); //The user self
    }
    
    match /suggestions/{document=**}{
        allow read: if isSignedIn();
    }
    
    match /fframe/settings/collection/{document=**}{
        allow read: if isSignedIn();
    }
    
    match /{document=**} {
        allow read, write : if isDomainUser();
        allow delete: if false;
    }
}
}
